# In restyle_project/.gitignore
backend/backend/local_settings.py
silent-polygon-465403-h9-71dc3a65e5df.json
client_secret_609071491201-eqdpkk9hsj6a7emrcqtvii0mbodc0vvh.apps.googleusercontent.com.json